.formulario {
    margin: 0 18px 15px 17px;
}
.tableInformation {
    width: 100%;
    position: relative;
    background: #d4d4d4;
}
.tableInformationRequest {
    width: 100%;
    position: relative;
    display: block;
    overflow-x: auto;
    height: 367px;
}
.BGth {
    background-color: #9c9c9c;
    text-align: center;
}
.BGtdWhite {
    background-color: #ffffff;
}
.withIcon {
    width: 90%;
}
.calendar-Me {
    position: absolute;
    display: block;
    top: 34px;
    font-size: 31px;
    right: 11px;
}