.formulario {
    margin: 0 18px 15px 17px;
}
.tableInformation {
    width: 100%;
    position: relative;
    background: #d4d4d4;
}
.tableInformationRequest {
    width: 100%;
    position: relative;
    display: block;
    overflow-x: auto;
}
.BGth {
    background-color: #9c9c9c;
}
.BGtdWhite {
    background-color: #ffffff;
}