<section class="container">
  <section class="sectionAllBorder">
    <section class="containerSection">
      <section class="sectionContainer">
        <section class="informationFile">
          <span class="textBGWhiteLine">Documentos entes externos - listar</span>
          <table id="customTalbe">
            <tr>
              <th class="bgGrey spaceWidth"></th>
              <th class="bgGrey">Documento DPS</th>
              <th class="bgGrey">Concepto</th>
              <th class="bgGrey">Observaciones</th>
              <th class="bgGrey">Documento DNP</th>
              <th class="bgGrey">Concepto</th>
              <th class="bgGrey">Observaciones</th>
            </tr>
            <tr>
              <td><span class="oi oi-info"></span></td>
              <td>Nombre de archivo pdf</td>
              <td>Faborable</td>
              <td></td>
              <td>Nombre de archivo pdf</td>
              <td>Con Observaciones</td>
              <td>Descripción Observaciones</td>
            </tr>
          </table>
        </section>
        <section class="documentsAdd">
          <span class="textBGWhiteLine">Documentos adjuntos No existen</span>
          <!-- <div class="buttonAdd">
          <div class="form-group custom-fileAdd" (click)="addFile()">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
            <label class="custom-file-labelAdd" for="customFileLang">+</label>
          </div>
        </div> -->
          <!-- <span class="resultAddFiles">{{ documentAdds }}</span> -->
          <section class="spaceUpdateDocument">
            <form>
              <div class="form-group">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
          </section>
        </section>
      </section>
    </section>
  </section>
  <section class="buttonNext">
      <section class="next">
        <section class="nextPage">
          <section class="newEdit">
            <div>
              <button class="btn btn-light btn-me">
                <a style="text-decoration: none;" routerLink="/newEdit">Next</a>
              </button>
            </div>
          </section>
        </section>
      </section>
    </section>
</section>