/* You can add global styles to this file, and also import other style files */
/* Interlineado de abajo. */
.textDecorationNone {
    text-decoration: none;
}
.informationFile {
    border: 1px solid;
    width: auto;
}
.textMiddle {
    text-align: center !important;
}
.container {
    margin: 1% 0 0 8%;
}
.textBGWhiteLine {
    background-color: #f9f9f9;
    top: -15px;
    left: 10px;
    position: relative;
}
#customTalbe {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#customTalbe td, #customTalbe th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customTalbe tr:nth-child(even){
    /* background-color: #f2f2f2; */
}
#customTalbe tr:hover {
    /* background-color: #ddd; */
}
#customTalbe th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50; */
    /* color: white; */
}
/* Estilos globales para el div que recubre toda la sección. */
.sectionContainer {
    padding: 36px 30px 10px 30px;
    border: 1px solid grey;
    border-radius: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/* Buttons */
.btn-me {
    position: relative;
    margin-top: 1%;
    margin-left: 89%;
}
/* BorderwSolid en valores de números como si fueran texto. */
.ValueBorder {
    border: 1px solid;
    width: fit-content;
    padding: 2px;
}
/* Estilos de tablas: Dashboard */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    /* background-color: #dddddd; */
}